.frame-icon {
  width: 84px;
  position: relative;
  height: 36px;
  object-fit: cover;
}
.courierdost-project3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-family: inherit;
}
.close-icon {
  position: absolute;
  height: 58.33%;
  width: 58.33%;
  top: 20.83%;
  right: 20.83%;
  bottom: 20.83%;
  left: 20.83%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.close {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 24px;
  position: relative;
  height: 24px;
}
.frame-parent76 {
  width: 864px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  box-sizing: border-box;
  z-index: 1;
}
.introduction,
.this-project-started {
  margin: 0;
  align-self: stretch;
  position: relative;
}
.introduction {
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.this-project-started {
  letter-spacing: 0.01em;
  font-weight: 600;
}
.an-app-where {
  margin: 0;
}
.an-app-where-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-family: inherit;
  color: #fc560f;
}
.this-project-started-when-foun-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.why {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-family: inherit;
}
.affordable-rates-with {
  display: block;
}
.affordable-rates-with-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: #000;
}
.why-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}
.frame-parent79 {
  gap: 24px;
  color: #fc560f;
}
.frame-parent78,
.frame-parent79,
.introduction-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent78 {
  gap: 32px;
  font-size: 16px;
  color: #000;
}
.introduction-parent {
  gap: 12px;
}
.process-and-ui {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.group-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #febc9f;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
}
.vector-1689-stroke {
  position: absolute;
  top: 6px;
  left: 9.1px;
  width: 5.8px;
  height: 12px;
  object-fit: contain;
}
.rectangle-group {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.group-item,
.group-wrapper {
  width: 24px;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  height: 24px;
}
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #fc560f;
  box-sizing: border-box;
}
.vector-1689-stroke1 {
  object-fit: contain;
}
.vector-1689-stroke1,
.vector-1689-stroke3 {
  position: absolute;
  top: 9.1px;
  left: 6px;
  width: 12px;
  height: 5.8px;
}
.frame-parent81,
.frame-parent82 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
}
.frame-parent81 {
  flex-direction: column;
  align-items: center;
  padding: 0 16px;
  gap: 4px;
}
.process-and-ui-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.ive-presented-the {
  margin: 0;
  width: 864px;
  position: relative;
  font-size: 20px;
  letter-spacing: 0.01em;
  font-weight: 700;
  font-family: inherit;
  color: #fc560f;
  display: inline-block;
}

/*swiper css starts*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  max-width: 864px;
  height: auto;
  margin: auto;
}
.swiper-container {
  position: relative;
width: 100%;
height: auto;
}
.swiper-container img {
  display: block;
  width: 100%;
  height: auto;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;          
  margin-top: 16px;
}
.btn {
  border-radius: 32px;
  height: 48px;
  padding: 0 24px;
  background-color: #ffffff;
  color: #3F1504;
  border: 2px solid #FC560F;
  cursor: pointer;
}

.btn:hover {
  background-color: #FFFCF8;
  color: #FC560F;
}

.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.count {
  font-size: 16px;
  margin: 0 16px;
}
.fullscreen-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.1);
  /*border: 2px solid #FC560F;*/
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*.fullscreen-icon {
  position: absolute;
top: 10px;
right: 10px;
width: 40px;
height: 40px;
background: rgba(0, 0, 0, 0.5);
color: white;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
z-index: 10;
border-radius: 4px;
}*/
.fullscreen-mode {
width: 100% !important;
height: auto !important;
}
.fullscreen {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
/*background: black;*/
z-index: 1000;
display: flex;
justify-content: center;
align-items: center;
}
.close-icon {
  width: 20px;
  height: 20px;
  /*background-image: url('close-icon.png');
  background-size: cover;*/
}


.frame-child39 {
  width: 864px;
  position: relative;
  border-radius: 24px;
  height: 486px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.chevron-right-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.prev {
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.chevron-right-parent {
  border-radius: 32px;
  background-color: #fffcf8;
  border: 2px solid #fc560f;
  box-sizing: border-box;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 12px;
  gap: 8px;
}
.of-24 {
  width: 80px;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
  color: #000;
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
}
.frame-parent84,
.next-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.next-parent {
  border-radius: 32px;
  background-color: #fffcf8;
  border: 2px solid #fc560f;
  box-sizing: border-box;
  height: 48px;
  justify-content: center;
  padding: 0 12px 0 20px;
  gap: 8px;
}
.frame-parent84 {
  justify-content: flex-start;
  gap: 32px;
}
.frame-parent80,
.frame-parent83 {
  display: flex;
  flex-direction: column;
}
.frame-parent83 {
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: 16px;
}
.frame-parent80 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px;
}
.typeface-poppins {
  position: relative;
  letter-spacing: 0.06em;
  font-weight: 600;
}
.typeface-poppins-wrapper {
  align-self: stretch;
  border-radius: 8px;
  background-color: #f2f4f7;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 0;
}
.typescale {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.frame-child40,
.frame-child41 {
  width: 10px;
  position: relative;
  max-height: 100%;
}
.frame-child41 {
  width: 2px;
  flex: 1;
  max-width: 100%;
  overflow: hidden;
}
.vector-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frame-wrapper,
.typescale-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.typescale-parent {
  flex-direction: row;
  gap: 4px;
}
.frame-wrapper {
  align-self: stretch;
  border-bottom: 4px solid #101828;
  flex-direction: column;
  padding: 0 0 16px;
  font-size: 32px;
}
.title-24px {
  position: relative;
  font-weight: 600;
}
.h2-16px,
.h3-14px {
  position: relative;
  font-size: 16px;
  font-weight: 500;
}
.h3-14px {
  font-size: 14px;
}
.h4-12px {
  position: relative;
  font-size: 12px;
}
.h1-20px-semibold-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 24px;
  font-size: 20px;
}
.p1-14px,
.p2-14px,
.p4-12px {
  position: relative;
  font-weight: 500;
}
.p2-14px {
  color: #98a2b3;
}
.p4-12px {
  font-size: 12px;
  line-height: 16px;
}
.p1-14px-medium-parent {
  justify-content: flex-start;
  gap: 24px;
  font-size: 14px;
  color: #667085;
}
.frame-parent86,
.p1-14px-medium-parent,
.title-24px-semibold-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title-24px-semibold-parent {
  flex: 1;
  justify-content: space-between;
  font-size: 24px;
}
.frame-parent86 {
  border-radius: 24px;
  background-color: #fff;
  border: 0.5px solid #c7c9d9;
  box-sizing: border-box;
  height: 654px;
  justify-content: flex-start;
  padding: 32px;
  gap: 40px;
}
.frame-child43,
.frame-child44,
.frame-child45,
.frame-child46 {
  width: 24px;
  position: relative;
  border-radius: 32px;
  background-color: #f12929;
  border: 1px solid #fff;
  box-sizing: border-box;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 3;
}
.frame-child44,
.frame-child45,
.frame-child46 {
  background-color: #00478f;
  z-index: 2;
  margin-left: -8px;
}
.frame-child45,
.frame-child46 {
  background-color: #667085;
  z-index: 1;
}
.frame-child46 {
  background-color: #c7c9d9;
  z-index: 0;
}
.frame-parent88 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.colours-parent,
.frame-wrapper2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.frame-wrapper2 {
  border-bottom: 4px solid #f12929;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 16px;
}
.frame-child47,
.primary {
  align-self: stretch;
  position: relative;
}
.primary {
  font-weight: 600;
}
.frame-child47 {
  border-radius: 8px;
  background-color: #f12929;
  border: 1px solid #c7c9d9;
  box-sizing: border-box;
  height: 64px;
}
.fire-red {
  position: relative;
  font-weight: 500;
  color: #98a2b3;
}
.f12929-parent,
.primary-parent,
.rectangle-parent2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.f12929-parent {
  align-self: stretch;
  padding: 0 4px;
}
.primary-parent,
.rectangle-parent2 {
  gap: 4px;
}
.rectangle-parent2 {
  align-self: stretch;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background-color: #fff;
  padding: 8px;
  font-size: 14px;
}
.primary-parent {
  flex: 1;
}
.frame-child48 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  background-color: #00478f;
  border: 1px solid #c7c9d9;
  box-sizing: border-box;
  height: 64px;
}
.frame-parent90 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.frame-child49 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  background-color: #101828;
  border: 1px solid #c7c9d9;
  box-sizing: border-box;
  height: 64px;
}
.rectangle-parent4 {
  flex: 1;
  box-shadow: 0 1px 16px rgba(0, 0, 0, 0.08);
  border-radius: 12px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8px;
  gap: 4px;
}
.frame-child50,
.frame-child51 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  background-color: #667085;
  border: 1px solid #c7c9d9;
  box-sizing: border-box;
  height: 64px;
}
.frame-child51 {
  background-color: #98a2b3;
}
.frame-parent92 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.frame-child52,
.frame-child53,
.frame-child54 {
  align-self: stretch;
  position: relative;
  border-radius: 8px;
  background-color: #c7c9d9;
  height: 64px;
}
.frame-child53,
.frame-child54 {
  background-color: #f2f4f7;
  border: 1px solid #c7c9d9;
  box-sizing: border-box;
}
.frame-child54 {
  background-color: #fff;
  border: 0.5px solid #c7c9d9;
}
.frame-parent91 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
  font-size: 14px;
}
.frame-parent89 {
  font-size: 20px;
}
.frame-parent87,
.frame-parent89 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.frame-wrapper1 {
  width: 483px;
  border-radius: 24px;
  background-color: #fff;
  border: 0.5px solid #c7c9d9;
  box-sizing: border-box;
  flex-direction: column;
  padding: 32px;
  font-size: 32px;
}
.frame-parent85,
.frame-wrapper1,
.style-guide-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent85 {
  flex-direction: row;
  gap: 40px;
  font-size: 16px;
  color: #101828;
  font-family: Poppins;
}
.style-guide-parent {
  flex-direction: column;
  gap: 32px;
}
.vendor-app-snapshots {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 900;
  font-family: inherit;
}
.cdimage-1-icon {
  width: 864px;
  position: relative;
  border-radius: 21.6px;
  height: 486px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.customer-mobile-app {
  margin-bottom: 0;
}
.customer-mobile-app-customer-w {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: 21px;
}
.i-led-a-container {
  margin: 0;
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 600;
}
.i-led-a-team-of-two-in-complet-parent,
.winding-up-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.i-led-a-team-of-two-in-complet-parent {
  align-self: stretch;
  gap: 24px;
  font-size: 16px;
  color: #000;
}
.winding-up-parent {
  gap: 12px;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #0066c8;
  width: 40px;
  height: 40px;
}
.vector-icon1 {
  position: absolute;
  top: calc(50% - 11.6px);
  left: calc(50% - 11.6px);
  width: 23.1px;
  height: 23.1px;
}
.rectangle-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
}
.frame-a {
  text-decoration: none;
  width: 40px;
  position: relative;
  border-radius: 4px;
  background-color: #0066c8;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.sandeep-devanpalli {
  text-decoration: underline;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: inherit;
}
.open-in-new-icon {
  position: absolute;
  height: 75%;
  width: 75%;
  top: 12.5%;
  right: 12.5%;
  bottom: 12.5%;
  left: 12.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.open-in-new {
  text-decoration: none;
  width: 24px;
  position: relative;
  height: 24px;
}
.frame-parent96,
.sandeep-devanpalli-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 8px;
}
.frame-parent96 {
  align-self: stretch;
  align-items: center;
  gap: 12px;
}
.gmail-icon-2020-1-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c7c9d9;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}
.vector-icon2 {
  position: absolute;
  height: 52.5%;
  width: 70%;
  top: 23.75%;
  right: 15%;
  bottom: 23.75%;
  left: 15%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frame-child55,
.gmail-icon-2020-1-wrapper {
  border-radius: 4px;
  background-color: #fff;
  width: 40px;
  height: 40px;
}
.gmail-icon-2020-1-wrapper {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-child55 {
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid #fc560f;
  box-sizing: border-box;
}
.download-icon3 {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 32px;
  height: 32px;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #fff;
  width: 40px;
  position: relative;
  border-radius: 4px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.get-my-resume {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.01em;
  font-weight: 700;
  color: inherit;
}
.frame-parent98 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  color: #fc560f;
}
.frame-parent95 {
  align-self: stretch;
  align-items: flex-start;
  gap: 32px;
  font-size: 20px;
  color: #000;
}
.courierdost,
.frame-parent77,
.frame-parent95 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent77 {
  width: 864px;
  align-items: flex-start;
  gap: 80px;
  z-index: 0;
  font-size: 56px;
  color: #3f1504;
}
.courierdost {
  width: 100%;
  position: relative;
  background-color: #fffcf8;
  align-items: center;
  padding: 0 0 80px;
  box-sizing: border-box;
  gap: 40px;
  text-align: left;
  font-size: 16px;
  color: #000;
  font-family: Trap;
}
@media screen and (max-width: 1200px) {
  .courierdost {
    width: auto;
    align-self: unset;
    padding-left: 152px;
    padding-right: 152px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .courierdost {
    width: auto;
    align-self: unset;
  }
}
@media screen and (max-width: 420px) {
  .frame-parent76 {
    align-self: stretch;
    width: auto;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .introduction,
  .process-and-ui {
    font-size: 50px;
    line-height: 66px;
  }
  .process-and-ui-parent {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .frame-parent80,
  .frame-parent86,
  .ive-presented-the,
  .process-and-ui-parent {
    align-self: stretch;
    width: auto;
  }
  .frame-parent86 {
    padding: 16px;
    box-sizing: border-box;
  }
  .fire-red {
    font-size: 10px;
  }
  .rectangle-parent2,
  .rectangle-parent4 {
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    box-sizing: border-box;
  }
  .frame-wrapper1 {
    align-self: stretch;
    width: auto;
    padding: 20px 16px;
    box-sizing: border-box;
  }
  .frame-parent85 {
    flex-direction: column;
  }
  .style-guide-parent {
    align-self: stretch;
    width: auto;
  }
  .vendor-app-snapshots {
    font-size: 50px;
    line-height: 66px;
  }
  .i-led-a-container,
  .vendor-app-snapshots {
    align-self: stretch;
    width: auto;
  }
  .get-my-resume,
  .sandeep-devanpalli {
    font-size: 14px;
  }
  .courierdost,
  .frame-parent77,
  .frame-parent95 {
    align-self: stretch;
    width: auto;
  }
  .courierdost,
  .frame-parent77 {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .courierdost {
    align-self: unset;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 20px;
    padding-right: 20px;
  }
}
